.searchList{
     width: 100%;
     margin:0 auto;
     height: 100%;
}
 .searchContainer{
     height: 100%;
     padding: 0.2rem;
}
 .searchItem{
     max-height: 2rem;
     margin: 0.1rem auto;
     border-radius: 0.05rem;
     border: 1px solid #22282c;
     padding: 0.1rem;
}
 .searchHeader{
     display: flex;
     font-size: 0.13rem;
     justify-content: space-between;
}
 .searchHeader div{
     flex: 1;
     height: 0.3rem;
     line-height: 0.3rem;
     text-align: center;
}
 .searchSummary{
     text-align: left;
     white-space: pre-wrap;
}
 .searchSummary h2{
     font-size: 0.14rem !important;
     font-weight: normal;
}
 .searchSummary *{
     color: rgba(0, 0, 0, 0.65) !important;
}
 