.messageContainer{
     overflow: hidden;
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;
    /* padding: 0.2rem;
     */
     padding: 0 0.2rem 0rem;
}
 .messageItem .am-card-header-content {
     color: rgb(102, 102, 102);
     letter-spacing: 0;
}
 .messageItem .am-card{
     border-radius: 0;
}
 .repeatInner{
     float: right;
     margin-right: 0.23rem;
}
 .messageContainer .am-card-footer-extra{
     margin-right: 0.22rem;
}
 .messageItem .am-card-header-content img {
     width:0.4rem;
     height:0.4rem;
     border-radius: 0.2rem;
}
 .messageItem{
     position: relative;
}
 .messageItem .am-card::after{
     content: '';
     width: 90%;
     height: 0.01rem;
     left: 50%;
     margin: 0.1rem auto;
     bottom: 0rem;
     background: #cce0ee;
     margin-top: 0.05rem;
}
 .messageOperationContainer{
     width:0.7rem;
     display: flex;
     float: right;
     justify-content: space-between;
}
 .messageOperationContainer div {
     flex: 1;
     text-align: center;
     padding-right: 0.1rem;
}
/* .messageOperationContainer div:nth-of-type(1){
     width:50%;
     text-align: center;
}
 .messageOperationContainer div:nth-of-type(2){
     width:50%;
     text-align: center;
}
 */
 .messageContainer .messageDate {
     font-size: 0.12rem;
     letter-spacing: 0;
     padding-left: 0.07rem;
     line-height: 0.15rem;
     color:#4089bc;
}
 .repeatItemContainer{
     background: white;
     text-align: left;
     color: #4089bc;
     font-size: 0.12rem;
     padding-left: 0.61rem;
     position: relative;
     -webkit-overflow-scrolling: touch;
}
 .repeatItemContainer div{
     border: none !important;
     padding: 0.04rem;
}
 .icon{
     transition:all .3s;
     transform: rotate(0);
}
 .closeIcon{
     transform: rotate(-180deg) 
}
 div.open{
     height: auto;
}
 .sendMsg{
     background: white;
     font-size: 0.2rem;
     margin-top: 0.05rem;
     color: rgb(0, 86, 160);
     line-height: 0.3rem;
     height: 0.3rem;
}
 .sendMsg .sendMsgI {
     -webkit-transform: rotate(0deg);
     position: relative;
     left:-0.07rem;
     transform: rotate(0deg);
     transition: all .4s;
}
 i.sengMsgRotate{
     transform: rotate(45deg);
}
 