.container{
     width:100%;
    /* height:100%;
     */
    /* display: flex;
     */
    /* flex-direction: column;
     */
     overflow: hidden;
    /* overflow-y: auto;
     */
    /* -webkit-overflow-scrolling: touch;
     */
     position: absolute;
}
 .galleryContainer{
     position: absolute;
     width:100%;
     height: 100%;
     transform: translateX(100%);
     background: white;
     transition: all .5s;
     z-index: 999;
     top:0;
     left: 0;
}
 div.galleryContainerOpen {
     transform: translateX(0);
}
 .imgMask{
     width: 100%;
     height: 100%;
     position: absolute;
     top:0;
     left:0;
     background: url(/resouce/images/maskbg.jpg) repeat-x;
     background-size: 0.01rem 100%;
     opacity: 0.9;
}
 .imgDetail img{
     position: absolute;
    /* width:100%;
     height: auto;
     */
     top:50%;
     left: 50%;
     display: block;
     opacity: 1;
     transform: translate(-50%, -50%);
}
 @keyframes imgView{
     from{
         transform: scale(1.5);
         opacity: 0;
    }
     to{
         transform: scale(1);
         opacity: 1;
    }
}
 .galleryContainer canvas{
     width: 100%;
     height: 100%;
     z-index: 1;
}
 .fullScreen{
     position: absolute;
     right: 0.2rem;
     width: 0.4rem;
     bottom: 1.2rem;
     height: 0.4rem;
     border-radius: 0.2rem;
     overflow: hidden;
     z-index: 10;
    /* opacity: .6;
     */
     line-height: 0.46rem;
     color: white;
     background: #088cd0;
}
 .fullScreen i {
     font-size: 0.2rem;
}
 .exitGallery{
     position: absolute;
     bottom:1.4rem;
     left:50%;
     font-size: 0.2rem;
     color:black;
     transform: translateX(-50%);
     z-index: 10;
}
 