.articleContainer {
    text-align: left;
}
.articleItem{
    /* max-height: 150px; */
    overflow: hidden;
    /* border-radius: 10px; */
    /* margin: 0 0 20px 0 ; */
    padding: 0.2rem;
    position: relative;
    color:#4989BC;
    /* border: 1px solid #ccc; */
    font-size: 0.12rem;
    background: white;
    padding-bottom: 0.1rem;
}
.articleItem .ql-editor {
    overflow: hidden;
}
.articleItem h2, .articleItem h2 span{
    font-size: 0.15rem;
    color:#0056a0 !important;
}
.articleItem::after{
    display: block;
    margin: 0 auto;
    width: auto;
}
/* .operation{
    position: absolute;
    right:20px;
    top:20px;
    font-size: 23px;
} */
.articleList{
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* padding:20px; */
    padding: 0 0.2rem 0px;    
}
.articleStatus{
    display: flex;
    position: relative;
    top:-0.07rem;
    font-size: 0.12rem;
    color: #4089bc;
}
.articleStatus div{
    flex: 1;
    text-align: center;
}
.articleStatus .operation div{
    text-align: right;
}