header{
     height: 0.6rem;
    /* background: #356fa0;
     */
     width:100%;
     position: fixed;
     top:0;
     z-index: 1;
     display: flex !important;
     justify-content: space-between;
}
 .logo{
     width:1rem;
     line-height: 0.6rem;
     color:white;
     font-weight: bold;
}
.logoSpan{
     font-size: 0.14rem;
}
 .welcome{
     width:0.9rem;
     flex: 1;
     margin-right: 0.1rem;
     text-align: right;
     font-size: 0.14rem;
}
 .welcome p{
     line-height: 0.6rem;
     color:white;
     font-weight: bold;
    /* animation: neon2 0.5s ease-in-out infinite alternate;
     */
}
 .AdaLogo {
     line-height: 0.6rem;
     color:white;
     font-weight: bold;
    /* animation: neon3 0.5s ease-in-out infinite alternate;
     */
}
 @-webkit-keyframes neon3 {
     from {
         text-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.3rem #fff, 0 0 0.4rem #228DFF, 0 0 0.7rem #228DFF, 0 0 0.8rem #228DFF, 0 0 1rem #228DFF, 0 0 1.5rem #228DFF;
    }
     to {
         text-shadow: 0 0 0.05rem #fff, 0 0 0.1rem #fff, 0 0 0.15rem #fff, 0 0 0.2rem #228DFF, 0 0 0.35rem #228DFF, 0 0 0.4rem #228DFF, 0 0 0.5rem #228DFF, 0 0 0.75rem #228DFF;
    }
}
 @keyframes neon2 {
     from {
         text-shadow: 0 0 0.1rem #fff, 0 0 0.2rem #fff, 0 0 0.3rem #fff, 0 0 0.4rem #FF1177, 0 0 0.7rem #FF1177, 0 0 0.8rem #FF1177, 0 0 1rem #FF1177, 0 0 1.5rem #FF1177;
    }
     to {
         text-shadow: 0 0 0.05rem #fff, 0 0 0.1rem #fff, 0 0 0.15rem #fff, 0 0 0.2rem #FF1177, 0 0 0.35rem #FF1177, 0 0 0.4rem #FF1177, 0 0 0.5rem #FF1177, 0 0 0.75rem #FF1177;
    }
}
 