.dynamicContainer .am-card-header-content{
     height: 0.3rem;
     color: #0056a0;
     display: block;
     text-align: center;
}
 .cardItem{
     position: relative;
     border-radius: 0 !important;
}
 .imgDetail{
     position: fixed;
     width: 100%;
     height: 100%;
     top:0;
     left:0;
     z-index: 999;
     opacity: 0;
     animation: imgView 1s;
     animation-fill-mode: forwards;
}
 .cardItem::after, .articleItem::after{
     content: '';
     width: 90%;
     height: 0.01rem;
     left: 50%;
     margin: 0.1rem auto;
     bottom: 0rem;
     background: #cce0ee;
     margin-top: 0.23rem;
}
 .dynamicContainer .am-card-footer{
     margin-top: 0.02rem;
}
 .dynamicContainer .am-card-header{
     padding: 0;
}
 .am-card-header-content{
    /* letter-spacing: 0.02rem;
     */
}
 .dynamicContent{
     color: #4089bc;
     font-size: 0.14rem;
     line-height: 0.3rem;
     white-space: pre-wrap;
     text-align: left;
     padding: 0 0.3rem;
}
 .rightTemp .upvote, .rightTemp .repeat{
     color:#4089bc;
}
 .dynamicContainer{
    /* display: flex;
     */
    /* flex-direction: column;
     */
    /* height: 100%;
     */
    /* margin-top:0.8rem;
     */
}
 .dynamicImgContainer{
     width:90%;
     height: 1.75rem;
     margin: 0.1rem auto;
     overflow: hidden;
     background-size: cover;
}
 .dynamicImgContainer img {
     display: block;
     width:100%;
     height: auto;
}
 .indexContainer{
    /* flex:1;
     */
     overflow: hidden;
    /* width: 90%;
     */
     padding: 0 0.2rem 0rem;
     margin: 0 auto;
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;
     position: relative;
}
 .dynamicContainer .am-card-header .am-card-header-extra{
     width:1rem !important;
     flex:none;
}
 .dynamicContainer .am-textarea-control{
     border: 1px solid rgb(160, 160, 160);
     border-radius: 0.05rem;
}
 .dynamicContainer .am-list-item {
     padding: 0 
}
 .am-card-body{
     padding: 0 0.15rem 0.06rem;
}
 .repeatList ul {
     max-height: 2rem;
     overflow: hidden;
     overflow-y: auto;
     text-align: left;
     font-size: 0.14rem;
     color: #4089bc;
     padding: 0 0.2rem 0rem 0.2rem;
}
 .repeatList ul .name{
    /* color: rgb(160, 160, 160);
     */
     font-size: 0.12rem;
}
 .repeatList ul .name span{
    /* font-size: 0.14rem;
     */
}
 .repeatList .context{
    /* text-indent: 2em;
     */
     font-size: 0.13rem;
}
 .repeatList ul li {
     line-height: 0.24rem;
}
 .repeatList ul li{
     margin-top:0.1rem;
    /* border-bottom: 0.01rem solid #efeff4 */
}
 .ql-editor {
     padding-top: 0.04rem;
}
 .dynamicTitle{
     text-align: center;
}
 .dynamicTitle div:nth-of-type(2){
     font-size: 0.12rem;
}
 div.slideIn{
     transform: translate3d(0.6rem,0,0);
     opacity: 0;
     animation: fromRight 1s 0s;
     animation-fill-mode: forwards;
}
 @keyframes fromRight{
     form {
         transform: translate3d(0.6rem,0,0);
         opacity: 0;
    }
     to {
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}
 .itemFromLeft{
     transform: translate3d(0.6rem,0,0);
     opacity: 0;
     animation: itemFromLeft .6s 0s linear;
     animation-fill-mode: forwards;
}
 @keyframes itemFromLeft {
     form {
         transform: translate3d(-0.6rem,0,0);
         opacity: 0;
    }
     to {
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}
 div.contentSlideFromLeft{
     animation: contentSlideFromLeft .4s;
     animation-fill-mode: forwards;
}
 @keyframes contentSlideFromLeft{
     from {
         transform: translate3d(-50%,0,0);
         opacity: 0;
    }
     to{
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}
 div.contentSlideFromRight{
     animation: contentSlideFromRight .4s;
     animation-fill-mode: forwards;
}
 @keyframes contentSlideFromRight{
     from {
         transform: translate3d(50%,0,0);
         opacity: 0;
    }
     to{
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}
 div.fromLeft{
     opacity: 0;
     transform: translate3d(-0.8rem,0,0);
     animation: fromLeft .6s 0s;
     animation-fill-mode: forwards;
}
 @keyframes fromLeft{
     form {
         transform: translate3d(-0.6rem,0,0);
         opacity: 0;
    }
     to {
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}
 .dynamicDate{
    /* margin-top: 0.2rem;
     */
     text-align: right;
     font-size: 0.12rem;
}
 .dynamicDate .line{
     width:0.3rem;
     display: inline-block;
     height: 0.01rem;
     background: #4089bc;
     position: relative;
     top: -0.04rem;
     right: 0.04rem;
}
 .dynamicOperationContainer{
     display: flex;
}
 .dynamicOperationContainer div.dynamicDate{
     flex: 1;
     white-space: nowrap;
}
 .dynamicOperationContainer div:nth-of-type(1){
     text-align: left;
     font-size: 0.12rem;
}
 .rightTemp{
     display: flex;
     width:100%;
     justify-content: space-between;
}
 .rightTemp div{
     flex: 1;
}
 .rightTemp div:nth-of-type(1){
     padding-left: 0.3rem;
}
 .rightTemp div:nth-of-type(2){
     padding-right: 0.3rem;
     text-align: right;
}
 